


.App {
  margin-right: 50px;
  padding: 30px;
  display: flex;
  justify-content: center;

}
.App > div {
  margin: 20px 50px;

}
.todolist {
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #1df8dd;
}